* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #0F8C8C;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11.5pt;
	color: #5C5B5B;
	line-height: 1.75em;
	background: #E0DCDC url(../images/img01.gif) repeat-x top left;
}

body,input {
	font-family: Georgia, serif;
}

strong {
	color: #2C2B2B;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #2C2B2B;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

img.pic {
	padding: 5px;
	border: solid 1px #D4D4D4;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	overflow: hidden;
	margin-bottom: 1em;
}

.date {
	background: #6E6E6E;
	padding: 5px 6px 5px 6px;
	margin: 0 6px 0 0;
	color: #FFFFFF;
	font-size: 0.8em;
	border-radius: 2px;
}

#page {
	padding: 45px 45px 15px 45px;
	position: relative;
	width: 890px;
	margin: auto;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 30px 0 30px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: dotted 1px #C4C4C4;
	padding: 15px 0 15px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;

}
.dropotron {
	background: rgba(32,157,157,0.9);
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	min-width: 200px;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
 }
 
 
 .dropotron a, .dropotron span {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: -1px;
	display: block;
	width: 100%;
	position: relative;
 }
 
 
 .dropotron span b {
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #1C7575;
	position: absolute;
	right: 0px;
	top: 7px;
 }
 
 
 .dropotron li:hover span b {
	border-left-color: #165E5E;
 }
 
 
 .dropotron li {
	padding: 3px 10px 3px 10px;
	margin: 2px 0 2px 0;
	border-radius: 3px;
 }
 
 
 .dropotron li:hover, .dropotron li.active {
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgba(28,117,117,0.9);
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
 }
 
 
 .dropotron-level-1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
 }
 .header {
	height: 75px;
	position: relative;
	background: #6E6E6E;
	padding: 45px;
	color: #FFFFFF;
	width: 100%;
	border: solid 1px #7E7E7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
	
 }
 .logo {
	line-height: 3;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
	margin:auto;
 }
 .menu {
	padding: 0 45px 0 45px;
	position: relative;
	background: #209D9D url(../images/img02.gif) repeat-x top left;
	margin: 0;
	height: auto;
	width: 100%;
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
 }
 
 
 .menu ul {
	list-style: none;
	padding-top: 12px;
	position: relative;
	left: -15px;
 }
 
 
 .menu ul li {
	padding: 5px 15px 5px 15px;
	margin-right: 10px;
	display: inline-block;
 }
 
 
 .menu ul li a, .menu ul li span {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 1.25em;
 }
 
 
 .menu ul li span b {
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #1C7575;
	margin-left: 8px;
	position: relative;
	top: -1px;
 }
 
 
 .menu ul li.active {
	background: #1C7575;
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
 }
 
 
 .menu ul li.active span b {
	border-top-color: #165E5E;
 }
 .slider {
	position: relative;
	margin: 45px 45px 0px 45px;
	width: 890px;
 }
 
 
 .slider .viewer {
	width: 890px;
	height: 250px;
	border: solid 1px #D4D4D4;
	border-radius: 3px;
 }
 
 
 .slider .slide {
	width: 890px;
	height: 250px;
	padding: 10px;
 }
 
 
 .slider .indicator {
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 20px 0 0 0;
 }
 
 
 .slider .indicator span {
	display: inline-block;
	text-indent: -9999em;
	width: 12px;
	height: 12px;
	background: #E3DFDF;
	border-radius: 6px;
	margin: 0 2px 0 2px;
 }
 
 
 .slider .indicator span.active {
	background: #6E6E6E;
 }
 .content {
	width: 665px;
	float: left;
	padding: 0;
 }
 
 
 .content-box1 {
	width: 320px;
	float: left;
 }
 
 
 .content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
 }
 .sidebar {
	width: 200px;
	padding: 0;
	margin: 0 0 0 690px;
 }
 .footer {
	position: relative;
	margin: auto;
	background: #6E6E6E url(../images/img03.jpg) top left no-repeat;
	border: solid 1px #7E7E7E;
	width: 100%;
	padding: 45px 45px 0 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-shadow: 0 1px 1px #444444;
 }
 
 
 .footer a {
	color: #F5F5F5;
 }
 
 
 .footer h2, .footer h3, .footer h4 {
	color: #FFFFFF;
 }
 
 
 .footer ul {
	list-style: none;
 }
 
 
 .footer ul li {
	border-top: dotted 1px #8F8F8F;
	padding: 15px 0 15px 0;
 }
 
 
 .footer ul li.first {
	padding-top: 0;
	border-top: 0;
	
 }
 
 
 .footer-content {
	width: 665px;
	float: left;
 }
 
 
 .footer-sidebar {
	width: 200px;
	margin: 0 0 0 690px;
 }
 
 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position:relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* warna dropdown

/* Dropdown Button */
.dropbtn {
	background-color: rgba(32,157,157,0.9);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}