@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #2b3a67;
  --secodary-color: #88888d;
  --tertiary-color: #cecece;
  --light-color: #e8e9f3;
  --dark-color: #272635;

  --font-poppins: "Poppins", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
}

/* Reset CSS */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/* General */
body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: var(--font-poppins);
  padding-top: 8vh;
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

section {
  padding: 5rem 0;
}

section .section-title {
  text-align: start;
  font-size: 20pt;
  font-weight: 700;
  font-family: var(--font-noto);
  color: var(--primary-color);
  position: relative;
  margin-bottom: 2rem;
}
section .section-title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 20%;
  height: 2px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
section .section-title.center {
  text-align: center;
}
section .center.section-title::after {
  left: 40%;
}

.container.container-full {
  max-width: 100% !important;
  padding: 0 1rem;
}

/* Navbar */
.navbar {
  padding: 1rem 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
}

.navbar > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  font-size: 18pt;
  font-weight: 700;
  font-family: var(--font-noto);
  font-style: italic;
  color: var(--primary-color);
}

.navbar .navbar-toggle {
  display: none;
  font-size: 1.5em;
  padding: 0 10px 4px;
  border: none;
  border-radius: 8px;
  background-color: var(--light-color);
  color: var(--dark-color);
  cursor: pointer;
}
.navbar .navbar-toggle:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
@media screen and (max-width: 768px) {
  .navbar .navbar-toggle {
    display: block;
  }
}

.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .navbar .navbar-nav {
    display: none;
  }
}

.navbar .navbar-nav .nav-link {
  text-align: center;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  opacity: 0.8;
  transition: all 300ms ease-in;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  opacity: 1;
  color: var(--primary-color);
}

/* Offcanvas */
#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  z-index: 998;
  transition: background 500ms ease-in 300ms;
}
#backdrop.show {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90vw;
  max-width: 350px;
  height: 100vh;
  background-color: var(--light-color);
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-left: none;
  z-index: 999;
  border-radius: 0 16px 16px 0;
  transition: left 300ms linear;
}
.offcanvas.show {
  left: 0;
}

.offcanvas .offcanvas-header {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas .offcanvas-brand {
  font-size: 20pt;
  font-weight: 700;
  font-family: var(--font-noto);
  font-style: italic;
  color: var(--primary-color);
}

.offcanvas .btn-close {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 4px 14px 8px;
  font-size: 1.5em;
  cursor: pointer;
}
.offcanvas .btn-close:hover {
  background-color: var(--tertiary-color);
}

.offcanvas .offcanvas-body {
  padding: 1rem 0;
}

.offcanvas .offcanvas-menu {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.offcanvas .offcanvas-menu .menu-link {
  padding: 0.6rem 1rem;
  background-color: transparent;
  border-radius: 8px;
  transition: all 300ms ease;
}
.offcanvas .offcanvas-menu .menu-link:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}
.offcanvas .offcanvas-menu .menu-link.active {
  background-color: var(--primary-color);
  color: white;
}

/* Home */
#home .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #home .container {
    grid-template-columns: 1fr;
  }
}

.title-wrapper {
  padding: 0 3rem;
}

.hi {
  font-size: 14pt;
  font-family: var(--font-noto);
}

#home h1 {
  font-size: 28pt;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.location {
  font-size: 12pt;
  color: var(--secodary-color);
}

.intro {
  color: var(--secodary-color);
  text-align: justify;
  margin-top: 16px;
}

.img-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: relative;
}

.img-wrapper .profile {
  width: 90%;
  z-index: 10;
}
.img-wrapper::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 2.75rem;
  width: 80%;
  height: 80%;
  border-radius: 50% 50% 16px 16px;
  background-color: var(--primary-color);
}

.sosmed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
}

.sosmed .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 600;
}
.sosmed .item:hover {
  background-color: var(--primary-color);
  color: white;
}

/* About */
.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  position: relative;
}
.about-wrapper::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  right: -10rem;
  width: 20rem;
  height: 2rem;
  border: 5px solid white;
  border-radius: 50px;
  background-color: var(--primary-color);
  z-index: -1;
}

.about-wrapper > p {
  text-align: justify;
}

.edu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edu .edu-title {
  font-size: 16pt;
  font-weight: 600;
  font-family: var(--font-noto);
  color: var(--secodary-color);
}

.edu .edu-name {
  font-size: 14pt;
  font-weight: 700;
  color: var(--primary-color);
}

.edu .edu-detail {
  color: var(--secodary-color);
}

/* Moto */
#moto {
  padding: 3rem;
  margin: 1rem;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 3px 8px 0px var(--tertiary-color);
}
.moto-title {
  text-align: center;
  font-size: 14pt;
  font-weight: 700;
  color: var(--secodary-color);
  font-family: var(--font-noto);
}

.moto {
  text-align: center;
  font-size: 32pt;
  font-weight: 900;
  font-family: var(--font-noto);
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .moto {
    font-size: 28pt;
  }
}

/* Skills */
.skills {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}
.skills::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -25rem;
  width: 30rem;
  height: 30rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--tertiary-color);
  opacity: 0.2;
  z-index: -1;
}
.skills::after {
  content: "";
  position: absolute;
  top: -10%;
  right: -25rem;
  width: 30rem;
  height: 30rem;
  border: 2px solid var(--secodary-color);
  border-radius: 50%;
  background-color: var(--tertiary-color);
  opacity: 0.4;
  z-index: -1;
}

.skill {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  border-radius: 16px;
  background-color: white;
  flex: 0 0 300px;
}
@media screen and (max-width: 768px) {
  .skill {
    flex-grow: 1;
  }
}

.skill .icon svg {
  width: 36px;
  height: 36px;
}

.skill .skill-title {
  font-size: 14pt;
  font-weight: 700;
  font-family: var(--font-noto);
  color: var(--primary-color);
}

.skill .skill-level {
  font-size: 12pt;
  color: var(--secodary-color);
}

/* Gallery */

.gallery-wrapper > img {
  height: 300px;
  border-radius: 16px;
}

/* Footer */
footer {
  padding: 16px 0;
  background-color: var(--tertiary-color);
  text-align: center;
  font-size: 10pt;
  font-weight: 700;
}

#tombolbtt{

  position: fixed    ;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: var(--dark-color);
  display: none;
  
}